
.container{
    display: flex;
   

}
.derecha{
    background-image:url(https://media.giphy.com/media/DMUFPG2niG1TW/giphy.gif);
    background-size: cover;
    background-position: center;
    
    
    object-fit:cover;
    width: 60%;
    height: 100vh;

}
.izquierda{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 40%;
}
.hola{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 75px;
    margin-left: 22%;
    font-style:normal;
    color: white;

}
.title{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-style:normal;
    font-size: 45px;
    margin-left: 22%;
    color: rgb(255, 255, 255);
}
.subtitle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-style:normal;

    font-size: 27px;
    margin-left: 35%;
    color: rgb(255, 255, 255);
}
.btnHome {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    font-weight: 600;
    
    font-size: 1.2rem;
    padding: 10px;
   
    border-radius: 100px;
   
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-top: 1.0rem;
    margin-left: 45%;
  }
  .btnHome:hover {
    background-image: linear-gradient(#100f10, #e5e5e5);
    color: rgb(251, 250, 252);
  }
.js{
   margin-top: 10%;
   margin-left: 10px;
   margin-right: 10px;
}
.react{
    margin-left: 30px;
}
.sql{
    margin-left: 30px;
    
}
  




/* 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 1550px;
    width: 100vw;
    min-height: 97vh;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .containerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .title {
    position: relative;
    top: -5rem;
    font-size: 2.7rem;
    font-weight: 700;
    
    color: black;
    text-align: left;
  }
  
  .subtitle {
    position: relative;
    top: -4rem;
    font-size: 2rem;
    font-weight: 700;
   
    color: rgb(56, 46, 123);
    text-align: left;
  }
  
  .containerBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -5rem;
  }
  
  .btnHome {
    font-weight: 600;
    
    font-size: 1.2rem;
    padding: 10px;
    border: transparent;
    border: none;
    border-radius: 999px;
    background-image: linear-gradient(#ffffff, #8d8d8d);
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin-top: 0.5rem;
  }
  
  .btnHome:hover {
    background-image: linear-gradient(#100f10, #e5e5e5);
    color: rgb(251, 250, 252);
  }
  
  .btnHome:active {
    transform: scale(0.99);
  }
  .img{
    display: flex;
    display: inline block;
  }
  
  /* .ldsFacebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
   */
  /* .ldsFacebook div {
    display: inline-block;
    position: absolute;
    left: 12px;
    width: 16px;
    background: #fed;
    background: rgb(201, 162, 121);
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  
  .ldsFacebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  
  .ldsFacebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  
  .ldsFacebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
  
    50%,
    100% {
      top: 24px;
      height: 32px;
    }
  }
   */